{% load staticfiles %}
<html>
<head>
    <link rel="stylesheet" href="{% static "css/mystyle.css" %}">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://ariutta.github.io/svg-pan-zoom/dist/svg-pan-zoom.min.js"></script>

</head>

<body>
    <div class="title">
        <h1>서울 월세 노선도</h1>
        <p>Command + F로 원하는 역을 찾아보세요</p>
    </div>
    <div class="metro">
        <object data="{% static 'svg/price_inserted_subway_linemap.svg' %}" width="100%" height="100%" type="image/svg+xml" id="subwaysvg">
        </object>
    </div>


    <script>
            window.onload = function () {
                svgPanZoom('#subwaysvg', {
                    zoomEnabled: true,
                    controlIconsEnabled: true
                });
            };
    </script>


</body>
</html>
