<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
  <script
      src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script
      src="http://ariutta.github.io/svg-pan-zoom/dist/svg-pan-zoom.min.js"></script>
  <title>월세 지도</title>
</head>

<body>
<div id="content"></div>

<script src="{% static 'commons.js' %}"></script>
<script src="{% static 'wolsemap.js' %}"></script>

<script>
  window.onload = function () {
    svgPanZoom('#subwaysvg', {
      zoomEnabled: true,
      controlIconsEnabled: true
    });
  };
</script>
</body>
</html>
