html,
body {
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: #fafafa;
  box-sizing: border-box;
  font-family: 'Spoqa Han Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  font-weight: lighter;
  color: #222222;
}

.container {
  width: 70%;
  height: 50%;
  margin: 40px auto;
}

.station-searchbar {
  margin: auto;
  width: 500px;
}

.record {
  display: inline-block;
  margin-top: 2em;
}
